* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.messaggi {

    h1 {
        color: white;
        padding-left: 20px;

    }


    .bott {
        display: flex;
        justify-content: space-around;
    }

    .bt1 {
        border-radius: 50%;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        background-color: rgb(87, 84, 105);
        border-color: #81828500;
        color: white;
        min-width: 40px;


    }

    .bt2 {
        border-radius: 20px;
        font-size: 20px;
        margin-top: 10px;
        margin-right: 10px;
        width: 400px;
        height: 40px;
        min-width: 200px;
        background-color: rgb(87, 84, 105);
        border-color: #81828500;
        color: white;
        text-align: ;

    }
}



.unità {
    width: 465px;
    height: 70px;

    padding-left: 0px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    min-width: 400px;
    display: flex;
    justify-content: space-around;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
    }

    .dialogo {
        width: 310px;
        height: 50px;
        min-width: 310px;
        margin-top: 10px;
        text-align: start;
        color: #818285;

    }

    .tempo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        color: #818285;

    }

}

.unità2 {
    width: 465px;
    height: 70px;

    padding-left: 0px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    min-width: 400px;
    display: flex;
    background-color: rgb(43, 42, 56);
    justify-content: space-around;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
    }

    .dialogo {
        width: 310px;
        height: 50px;
        min-width: 310px;
        margin-top: 10px;
        text-align: start;
        color: white;

    }

    .tempo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        color: white;

    }

}





.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;


    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;


    }

    i {
        color: white;
        font-size: 25px;
        position: relative;
    }

    .home {
        width: 100px;
        height: 40px;
        color: white;
        font-size: 11px;
        text-align: center;
    }

    .bell {
        width: 100px;
        height: 40px;
        color: white;
        font-size: 11px;
        text-align: center;

    }

    .pic {
        width: 100px;
        height: 40px;
        color: white;
        font-size: 11px;
        text-align: center;

    }

}

footer {
    height: 80px;
    background-color: #2d2d35;
    flex-shrink: 0;


}

main {
    background-color: #1c1d22;
    overflow: auto;
    flex-grow: 1;
    border-top-left-radius: 15px;
    margin-top: 5px;
    padding: 10px;
    flex-grow: 1;

}

body {
    height: 100vh;

}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000ef;

}

.centralwrapper {
    display: flex;
    flex-grow: 1;
    background-color: rgba(255, 0, 0, 0);
    overflow: hidden;
}

.sidebar {
    width: 80px;
    flex-shrink: 0;

    .img1 {
        width: 50px;
        margin-left: 15px;
        margin-top: 20px;

    }

    .img2 {
        width: 50px;
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 50%;

    }

}
+